body {
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
  text-align: center;
}

/* HEADER AND HEADINGS */
.header--jumbo {
  background-image: url("../images/building.png");
}
.header--main {
font-size: 70px;
font-weight: bold;
color: white;
}
nav ul {
  display: inline-block;
list-style: none;
}
nav ul li a {
  font-size: 18px;
  color: white;
}
.header--second {
font-size: 32px;
font-weight: bold;
}
.header--third {
  font-size: 23px;
  font-weight: bold;
}
.header--fourth {


}
.header--second--bg {
background-image: url("../images/building.png");
color: white;
}


/* PARAGRAPHS AND DESCRIPTIONS */
.par--description {
  font-size: 14px;
}

/* LINKS */
.link--cta {


}

/* FOOTER */
.footer--container {
  display: inline-block;
}
.footer--displayinline {
  display: inline-block;
  background-color: dimgrey;
}
.footer--copyright{
  font-size: 11px;
  color: white;
}
